<div style='margin:0 auto; max-width:2500px;'>
	<% include ../partials/header %>

	<!--BIG ASS FRONT IMG vv-->
	<div class="container-fluid">	
		<div class="thumbnail top-left">
			<% var num = Math.floor(Math.random() * homepageImg.mainPhotos.length)%>
			<img class="main-logo" src=<%=homepageImg.mainPhotos[num]%>>
			<div class="text-center media-buttons">
	        
	    </div>
			<div class="container caption">
				<h1>Aksjator <!--<span class="whole-logo"><span class="logo-tekst">[ </span><span id="first-dot">.</span><span id="sec-dot">.</span><span id="third-dot">.</span><span class="logo-tekst"> ]</span></span>--> </h1> 
				<p>Koło naukowe mechaniki konstrukcji</p>
			</div>
		</div>
	</div>
	<!--BIG ASS FRONT IMG ^^ -->

</div>
		




<div id='arrow-up'>
	<i onclick='topFunction()' class="fas fa-angle-up"></i>
</div>

<h2>O kole</h2>
<div class="separator-container">
 <div class="separator line-separator">∎</div>
</div>


<div class="container">
	<div class="row">
		<p class="about mt-3"><%=homepageImg.okole.text%></p>
	</div>
</div>

<div class="container mt-5">
	<div class="row align-items-center">
		<div class="col-md-1">
			
		</div>

		<div class="col-md-10 art-gallery">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<% homepageImg.img.forEach(function(i, index){%>
					 <%if(index<=8){%>
					 	<% if(index===0){%>
							<li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="active"></li>
						<% }else{%>
							<li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>"></li>
						<% }%>
					 <% }%>
					<% })%>	
    				<!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
    				<!--<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    				<li data-target="#carouselExampleIndicators" data-slide-to="8"></li>-->
  				</ol>
  				
  				<div class="carousel-inner">
  					<% homepageImg.img.forEach(function(img, index){%>
	  					<%if(index<=8){%>
						 	<% if(index===0){%>
		  						<div class="carousel-item active">
						    		<img class="d-block w-100" src='<%=img.url%>'>
						    		<% if(img.button){%>
						    			<a href='<%=img.link%>' class="btn btn-lg btn-info homepage-news-button">Dowiedz się więcej!</a>
						    		<% }%>
						    	</div>
	  						<% }else{%>
		  						<div class="carousel-item">
						    		<img class="d-block w-100" src='<%=img.url%>'>
						    		<% if(img.button){%>
						    			<a href='<%=img.link%>' class="btn btn-lg btn-info homepage-news-button">Dowiedz się więcej!</a>
						    		<% }%>
						    	</div>
	  						<% }%>
						 <% }%>
  					<% })%>
			  
			    
			    <!--<div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/220762/pexels-photo-220762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/373600/pexels-photo-373600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/827058/pexels-photo-827058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Forth slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/923548/pexels-photo-923548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Fifth slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/936133/pexels-photo-936133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Sixth slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/994234/pexels-photo-994234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Seventh slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/1144404/pexels-photo-1144404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Seventh slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="https://images.pexels.com/photos/948898/pexels-photo-948898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Seventh slide">
			    </div>-->
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
			
		<div class="col-1">
			
		</div>
	</div>
</div>

<h2>Czym się zajmujemy</h2>
<div class="separator-container">
 <div class="separator line-separator">∎</div>
</div>


<div class="container about">
	<div class="row mt-5 pt-3">
		<div class="col-md-4">

			<!-- Button trigger modal -->
			<button type="button " class="btn btn-secondary fortehscience" data-toggle="modal" data-target="#exampleModalCenter">
			  <i class="fas fa-child"></i>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLongTitle">Meoooow</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Scamper cat mojo and lick face hiss at owner, pee a lot, and meow repeatedly scratch at fence purrrrrr eat muffins and poutine until owner comes back sit in a box for hours so knock dish off table head butt cant eat out of my own dish. Jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed catch mouse and gave it as a present, leave hair everywhere knock over christmas tree knock over christmas tree or hate dog. Need to chase tail stare at ceiling light so claws in your leg chew iPad power cord, and flex claws on the human's belly and purr like a lawnmower but unwrap toilet paper.</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>	
			<h3>nasze osiągnięcia</h3>

		</div>
		<div class="col-md-4">
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter1">
			  <i class="fas fa-flask"></i>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLongTitle">Hiss at vacuum cleaner meowwww spend six hours per day washing, but still have a crusty butthole</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Sit by the fire kitty loves pigs slap owner's face at 5am until human fills food dish try to jump onto window and fall while scratching at wall pose purrfectly to show my beauty and lies down and missing until dinner time. Eat too much then proceed to regurgitate all over living room carpet while humans eat dinner. Nap all day pet me pet me don't pet me, why must they do that kitty power kitty poochy. Chase after silly colored fish toys around the house cereal boxes make for five star accommodation yet cough furball ooh, are those your $250 dollar sandals?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>	
			<h3>projekty naukowe</h3>

    	</div>
		<div class="col-md-4">
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter2">
			  <i class="fas fa-handshake"></i>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLongTitle">All of a sudden cat goes crazy</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Scratch leg meow for can opener to feed me lick butt and make a weird face and decide to want nothing to do with my owner today and trip on catnip meoooow, mesmerizing birds peer out window, chatter at birds, lure them to mouth. Destroy the blinds you call this cat food. Walk on car leaving trail of paw prints on hood and windshield bleghbleghvomit my furball really tie the room together and kitty poochy i am the best cereal boxes make for five star accommodation.</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>	
			<h3>oferta współpracy</h3>

		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
			  <i class="fas fa-graduation-cap"></i>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLongTitle">Lick butt and make a weird face</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Kitty power show belly so milk the cow so sniff other cat's butt and hang jaw half open thereafter instantly break out into full speed gallop across the house for no reason for hide head under blanket so no one can see curl into a furry donut. Love to play with owner's hair tie claw at curtains stretch and yawn nibble on tuna ignore human bite human hand you have cat to be kitten me right meow or poop in litter box, scratch the walls. Paw at beetle and eat it before it gets away. Loved it, hated it, loved it, hated it sleep, chase laser lies down and under the bed. If human is on laptop sit on the keyboard kitty scratches couch bad kitty.</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>
			<h3>kursy i szkolenia</h3>

		</div>
		<div class="col-md-4">
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter4">
			  <i class="fas fa-shipping-fast"></i>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLongTitle">Woops poop hanging from butt must get rid run run around house drag poop on floor</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p> show my fluffy belly but it's a trap! if you pet it i will tear up your hand reward the chosen human with a slow blink but curl into a furry donut lick human with sandpaper tongue trip on catnip. Scratch chase mice, and lick arm hair and chill on the couch table use lap as chair, and head nudges and throw down all the stuff in the kitchen. The dog smells bad rub whiskers on bare skin act innocent give me some of your food give me some of your food give me some of your food meh, i don't want it so need to chase tail sit in window and stare oooh, a bird, yum destroy house in 5 seconds scream for no reason at 4 am. </p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
			        
			      </div>
			    </div>
			  </div>
			</div>
			<h3>wyjazdy naukowe</h3>

		</div>
		<div class="col-md-4">
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter5">
			  <i class="fas fa-donate"></i>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLongTitle">Lounge in doorway</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Destroy couch and sometimes switches in french and say "miaou" just because well why not so lick the other cats. Poop on grasses eat the fat cats food eat an easter feather as if it were a bird then burp victoriously, but tender prance along on top of the garden fence, annoy the neighbor's dog and make it bark meow, litter kitter kitty litty little kitten big roar roar feed me. Head nudges . Decide to want nothing to do with my owner today shake treat bag, and bleghbleghvomit my furball really tie the room together, but scratch me there, elevator butt sit in box sit in a box for hours. Meow meow, i tell my human. Vommit food and eat it again cereal boxes make for five star accommodation and fall asleep on the washing machine lick the other cats flop over.</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<h3>wspomóż nas</h3>

		</div>
	</div>
</div>

<h2>Nasi partnerzy</h2>
<div class="separator-container">
 <div class="separator line-separator">∎</div>
</div>

<div class='mt-5'>
	<% include ../partials/sponsors %>	
</div>

<section id='zarzad'>

<h2>Zarząd koła</h2>
<div class="separator-container">
 <div class="separator line-separator">∎</div>
</div>



<div class="container">
	<div class="row justify-content-center mt-5 pt-3">
		<div class="col-md-3">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#photoModal1" style='background: url(<%=homepageImg.przewo.img%>); background-size: 110%; background-repeat: no-repeat; display: block; margin: 0 auto;'>
		
			</button>
			<!-- Modal -->
			<div class="modal fade" id="photoModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content" id="przewo">
			      <div class="modal-header" >
			        <h3 class="modal-title" id="exampleModalLongTitle"><%=homepageImg.przewo.name%></h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p><%=homepageImg.przewo.desc%></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>
			
			<h3>Przewodniczący</h3>
			<h4><%=homepageImg.przewo.name%></h4>
		</div>
			
		<div class="col-md-3">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-lg btn-secondary" data-toggle="modal" data-target="#photoModal2" style='background: url(<%=homepageImg.vice.img%>); background-size: 110%; background-repeat: no-repeat; display: block; margin: 0 auto;'>
			  
			</button>
			<!-- Modal -->
			<div class="modal fade" id="photoModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content" id="przewo">
			      <div class="modal-header" >
			        <h3 class="modal-title" id="exampleModalLongTitle"><%=homepageImg.vice.name%></h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p><%=homepageImg.vice.desc%></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>
			
			<h3>vice Przewodniczący</h3>
			<h4><%=homepageImg.vice.name%></h4>
		</div>

		<div class="col-md-3">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#photoModal3" style='background: url(<%=homepageImg.skarbik.img%>); background-size: 110%; background-repeat: no-repeat; display: block; margin: 0 auto;'>
			  
			</button>
			<!-- Modal -->
			<div class="modal fade" id="photoModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content" id="przewo">
			      <div class="modal-header" >
			        <h3 class="modal-title" id="exampleModalLongTitle"><%=homepageImg.skarbik.name%></h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p><%=homepageImg.skarbik.desc%></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>
			
			<h3>Skrabnik</h3>
			<h4><%=homepageImg.skarbik.name%></h4>
		</div>

		<div class="col-md-3">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#photoModal4" style='background: url(<%=homepageImg.sekretarz.img%>); background-size: 110%; background-repeat: no-repeat; display: block; margin: auto auto;'>
			  
			</button>
			<!-- Modal -->
			<div class="modal fade" id="photoModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content" id="przewo">
			      <div class="modal-header" >
			        <h3 class="modal-title" id="exampleModalLongTitle"><%=homepageImg.sekretarz.name%></h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p><%=homepageImg.sekretarz.desc%></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        
			      </div>
			    </div>
			  </div>
			</div>
			
			<h3>Sekretarz</h3>
			<h4><%=homepageImg.sekretarz.name%></h4>
		</div>
	</div>
	
</div>
</section>

<section id='opiekunowie'>
	
	<h2>Opiekunowie</h2>
	
	<div class="separator-container">
		<div class="separator line-separator">∎</div>
	</div>

	<div class="container">
		<div class="row  justify-content-center mt-5 pt-3 mb-2">
			<div class="col-md-3">
							<!-- Button trigger modal -->
				<a class="btn btn-secondary" href="https://skos.agh.edu.pl/osoba/henryk-ciurej-8287.html" style=' background-image: url(https://34yigttpdc638c2g11fbif92-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/default-user-img.jpg); background-size: 105%;'>
				  
				</a>
				<!-- Modal -->
				<!--<div class="modal fade" id="photoModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content" id="przewo">
				      <div class="modal-header" >
				        <h3 class="modal-title" id="exampleModalLongTitle">Dr inż Henryk Ciurej</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>Destroy couch and sometimes switches in french and say "miaou" just because well why not so lick the other cats. Poop on grasses eat the fat cats food eat an easter feather as if it were a bird then burp victoriously, but tender prance along on top of the garden fence, annoy the neighbor's dog and make it bark meow, litter kitter kitty litty little kitten big roar roar feed me. Head nudges . Decide to want nothing to do with my owner today shake treat bag, and bleghbleghvomit my furball really tie the room together, but scratch me there, elevator butt sit in box sit in a box for hours. Meow meow, i tell my human. Vommit food and eat it again cereal boxes make for five star accommodation and fall asleep on the washing machine lick the other cats flop over.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				      </div>
				    </div>
				  </div>
				</div>
				-->
				
				<h4 class="mt-2">Dr inż. Henryk Ciurej</h4>
			</div>
				
			<div class="col-md-3">
				<a class="btn btn-secondary" href='https://skos.agh.edu.pl/osoba/michal-betlej-6936.html' style='background-image: url(https://i.imgur.com/ZWXgCew.jpg); background-size: 125%;'>
				  
				</a>
				<!-- Modal -->
				<!--<div class="modal fade" id="photoModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content" id="przewo">
				      <div class="modal-header" >
				        <h3 class="modal-title" id="exampleModalLongTitle">Mgr inż Michał Betlej</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <p>Destroy couch and sometimes switches in french and say "miaou" just because well why not so lick the other cats. Poop on grasses eat the fat cats food eat an easter feather as if it were a bird then burp victoriously, but tender prance along on top of the garden fence, annoy the neighbor's dog and make it bark meow, litter kitter kitty litty little kitten big roar roar feed me. Head nudges . Decide to want nothing to do with my owner today shake treat bag, and bleghbleghvomit my furball really tie the room together, but scratch me there, elevator butt sit in box sit in a box for hours. Meow meow, i tell my human. Vommit food and eat it again cereal boxes make for five star accommodation and fall asleep on the washing machine lick the other cats flop over.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				      </div>
				    </div>
				  </div>
				</div>	-->
				<h4 class="mt-2">Mgr inż. Michał Betlej</h4>		
			</div>
		</div>
		
	</div>	
	
</section>

<h2>Kontakt</h2>
<div class="separator-container">
 <div class="separator line-separator">∎</div>
</div>



<% include ../partials/footer %>