<% include ../partials/bootstrap %>

<div class="container">
    <a href="/edit">Powrót</a>
    <div class="row">
        <h2 class="text-center">Zarządzaj członkami!</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="/kolo/czlonkowie/manage" method="POST">
                <div class="form-group">
                    <label>Aktywni członkowie</label>
                </div>
                <div class="form-group">
                    <input type="text" name="student" placeholder="imię i nazwisko">
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-secondary">Zatwierdź</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form action="/kolo/czlonkowie/manage" method="POST">
                <div class="form-group">
                    <label>Absolwenci</label>
                </div>
                <div class="form-group">
                    <input type="text" name="graduate" placeholder="imię i nazwisko">
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-secondary">Zatwierdź</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
			<table class="table">
			    <thead>
			        <tr>
                        <th scope="col" class="text-center">Aktywni członkowie</th>
			        </tr>
			    </thead>
			    <tbody>
			        <% members.students.forEach(function(mem, index){%>
				        <tr>
				        	<td class="text-center">
				        	    <%=mem.name%>
				        	    <form action="/kolo/czlonkowie/manage/students/<%=index%>?_method=DELETE" method="POST">
				        	        <input type="hidden" name="index" value="<%=index%>">
				        	        <button class="btn btn-sm btn-danger">X</button>
				        	    </form>
				        	</td>
				        </tr>
			        <% });%>
			    </tbody>
			</table>
        </div>        
        <div class="col-md-6">
			<table class="table">
			    <thead>
			        <tr>
                        <th scope="col" class="text-center">Absolwenci</th>
			        </tr>
			    </thead>
			    <tbody>
			        <% members.graduates.forEach(function(mem, index){%>
				        <tr>
				        	<td class="text-center">
				        	    <%=mem.name%>
				        	    <form action="/kolo/czlonkowie/manage/graduates/<%=index%>?_method=DELETE" method="POST">
				        	        <input type="hidden" name="index" value="<%=index%>">
				        	        <button class="btn btn-sm btn-danger">X</button>
				        	    </form>
				        	</td>
				        </tr>
			        <% });%>
			    </tbody>
			</table>
        </div>
        
    </div>
</div>