<% include ../../partials/bootstrap %>



<div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <h2>Edytuj Wyjazd naukowy</h2>
            </div>
        </div>
        <div class="row">
            <div class="form-styler mt-3">
                <form action="/edit/wyjazdynaukowe" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="data[title]" placeholder="Tytuł" value='<%=data.title%>'>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="data[desc]" placeholder="krotki opis" value='<%=data.desc%>'>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="data[imgUrl]" placeholder="URL obrazka" value='<%=data.imgUrl%>'>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="data[date]" placeholder="data" value='<%=data.data%>'>
                    </div>
                    <div class="form-group">
                        <textarea name="data[text]" rows="25" class="form-control"><%=data.text%></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Zatwierdź</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <form action='/edit/wyjazdynaukowe/zdjecia/<%=data._id%>' method='post'>
                        <input type='text' placeholder='images' name='photo'>
                        <button>zatwierdz</button>
                    </form>  
                </div>
            </div>
        </div>
        <div class='container'>
            <%data.images.forEach((item, index)=>{%>
            <div class='row'>
                <div class='col-md-12'>
                    <hr>
                    <form action='/edit/wyjazdynaukowe/zdjecia/<%=data._id%>?_method=DELETE' method='POST'>
                        <img src='<%=item%>' height='150px'>
                        <input type="hidden"  name="index" value="<%=index%>">
                        <button>usun</button>
                    </form>
                </div>
            </div>
            <% });%>
        </div>
        
        
        
        
        <div class="row">
            <a href="/edit/wyjazdynaukowe">Powrót</a>
        </div>
    
</div>